body {
    background-image: url(paisaje.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: hsla(0, 22%, 37%, 0.432);
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.formula{
    border: 2px solid;
    background-color: #ffffff91;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.option{
    margin-bottom: 15px;
}

 .labels {
    display: inline-block;
    margin-right: 10px;
    font-weight: normal;
}

.resgis{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.resgis :hover {
    background-color: #218838;
}
.salida {
    width: 50px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;   
}
.salida:hover{
    background-color: #218838; 
}
